<%- include('partials/header.ejs') %>

    <main class="container">
        <div class="row">
            <h1 class="text-center">Edit campground</h1>
            <div class="col-6 offset-3">
                <form method="POST" action="/campgrounds/<%= campground._id %>?_method=PUT" class="needs-validation" novalidate>
                    <section class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" id="title" class="form-control" placeholder="campground title"
                            value="<%= campground.title %>" required>
                    </section>
                    <section class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="location" id="location" class="form-control"
                            placeholder="campground location" value="<%= campground.location %>" required>
                    </section>
                    <section class="mb-3">
                        <label for="image" class="form-label">Image URL</label>
                        <input type="text" name="image" id="image" class="form-control"
                            placeholder="campground image url" value="<%= campground.image %>" required>
                    </section>
                    <section class="mb-3">
                        <label for="price" class="form-label">Campground Price</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="price" name="price"
                                value="<%= campground.price %>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </section>
                    <section class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="description" id="description" class="form-control"
                            placeholder="campground description" required><%= campground.description %></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </section>
                    <button type="submit" class="btn btn-warning">Done</button>
                </form>
                <a href="/campgrounds">Back to home page</a>
            </div>

        </div>
    </main>

    <script type="text/javascript">
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <%- include('partials/footer.ejs') %>