<%- include('partials/header.ejs') %>

    <main class="container">
        <div class="row ">
            <%- include('partials/flash.ejs') %>
            <% for (let campground of campgrounds) { %>
                <div class="col-4 mb-3">
                    <div class="card" style="width: 18rem;">
                        <img src="<%= campground.image %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=campground.title %>
                            </h5>
                            <p class="card-text"><%= campground.location %></p>
                            <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">Info</a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </main>

    <%- include('partials/footer.ejs') %>